html,body {
	font-family: "微软雅黑","Microsoft YaHei","Hiragino Sans GB W3",Tahoma,Arial;
	background: url('../images/background.png') no-repeat #ca2a20 ;
	background-size: cover;
	background-position: center top;
}

.template {
	display: none;
}