@media screen and (min-width: 1600px) {
	html,body {
		background-color: #c1192d;
		position: relative;
		min-width: 1800px;
		font-family: '微软雅黑';
	}

	body .header .top-star {
		background-image: url('../images/star.png');
		width: 1450px;
		height: 148px;
		margin: 0 auto;
	}

	body .header .complex-snow-ground {
		background-image: url('../images/complex_snow_ground.png');
		background-repeat: no-repeat;
	    background-size: contain;
		position: absolute;
		bottom: -120px;
		width: 100%;
		height: 465px;
	}

	body .header .complex-snow-ground .hint-introductions {
		width: 740px;
		height: 70px;
		margin: 255px auto 25px auto;
		font-size: 20px;
		text-align: center;
		line-height: 40px;
	}

	body .header .complex-snow-ground .hint-introductions strong {
		/*font-weight: bolder;*/
		font-size: 26px;
		color: #c0192d;
	}

	body .header .complex-snow-ground .publish-button {
		margin: 0 auto;
		width: 205px;
		height: 55px;
		border-radius: 30px;
		line-height: 55px;
		border-bottom: 5px solid #ac1a09;
		text-align: center;
		cursor: pointer;
		font-size: 22px;
		color: white;
		background-color: #f64a43;
	}
}

html,body {
	background-color: #c1192d;
	position: relative;
	min-width: 1200px;
	font-family: '微软雅黑';
}

.snow-bg {
	background-image: url('../images/snow-bg.png');
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.header {
	position: relative;
	background-image: url('../images/header_background.png');
	width: 100%;
	min-height: 595px;
}

.header .top-star {
	background-image: url('../images/star.png');
	max-width: 1450px;
	height: 148px;
	margin: 0 auto;
}

.header .complex-snow-ground {
	background-image: url(../images/complex_snow_ground.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/complex_snow_ground.png', sizingMethod='scale');
    position: absolute;
    bottom: -110px;
    /*width: 1200px;*/
    width: 100%;
    height: 278px;
    /*min-height: 300px;*/
}

.header .complex-snow-ground .hint-introductions {
    width: 509px;
    height: 70px;
    margin: 145px auto 0px auto;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
}

.header .complex-snow-ground .hint-introductions:before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url('../images/red_star.png');
	margin-right: 15px;
	position: relative;
	top:5px;
}

.header .complex-snow-ground .hint-introductions strong {
	font-size: 18px;
	color: #c0192d;
}

.header .complex-snow-ground .publish-button {
    margin: 0 auto;
    width: 155px;
    height: 35px;
    border-radius: 30px;
    line-height: 35px;
    border-bottom: 5px solid #ac1a09;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #f64a43;
}

.header .gift-title {
	width: 986px;
	height: 230px;
	background-image: url('../images/gift_title.png');
	margin: -58px auto 0 auto;
}

.header .hint-title {
	width: 978px;
	height: 80px;
	margin: 0 auto;
	background-image: url('../images/hint.png');
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	color: #feed02;
	margin-top: 5px;
}

.header .hint-title:before {
	content: '';
	width: 33px;
	height: 33px;
	display: inline-block;
	margin-right: 20px;
    position: relative;
    top: 10px;
	background-image: url('../images/gift_little_icon.png');
}

.main-container {
	display: inline-block;
	background-color: #fec101;
	width: 100%;
	min-height: 200px;
	padding-top: 200px;
}

.main-container .prize-contianer {
	width: 1150px;
	min-height: 620px;
	margin: 10px auto 160px auto;
}

.main-container .prize-contianer .prize-info-window {
	position: relative;
	background-color: #f64a43;
	border-radius: 5px;
	float: left;
	width: 657px;
	height: 367px;
	border-bottom: 10px solid #ac1a09;
	border-left: 10px solid #ac1a09;
	padding: 70px 0 50px 25px;
}

.main-container .prize-contianer .prize-info-window .prize-info-title {
	position: absolute;
	left: 150px;
	top: -88px;
}

.main-container .prize-contianer .prize-info-window table {
	width: 485px;
	text-indent: 10px;
	font-size: 18px;
	color: #ffe1b2;
}

.main-container .prize-contianer .prize-info-window table tr {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height: 60px;
}

.main-container .prize-contianer .prize-info-window table tr td:nth-child(2) {
	color:#fbe600;
}

.main-container .prize-contianer .prize-info-window .bottom-info{
	background-image: url('../images/bottom-info.png');
	width: 386px;
	height: 103px;
	position: absolute;
	bottom: -107px;
}
.main-container .prize-contianer .prize-roll {
	position: relative;
    z-index: 2;
    margin-left: -150px;
    top: -50px;
    float: left;
	width: 606px;
	height: 665px;
}

.main-container .prize-contianer .prize-roll .prize-roll-snow{
	position: absolute;
	background: url('../images/snow_item_ground.png');
	bottom: -13px;
	width: 100%;
	height: 66px;
}

.main-container .activity-details-contianer {
	position: relative;
	width: 1150px;
	min-height: 885px;
	margin: 0 auto;
}

.main-container .activity-details-contianer .activity-details {
	width: 983px;
	height: 915px;
	padding: 0 35px;
	background-color: #f64a43;
}

.main-container .activity-details-contianer .activity-details .rough-border {
    position: relative;
    top: -10px;
    left: -50px;
	width: 1083px;
	height: 33px;
	background-image: url('../images/rough_border.png');
	background-color: #f64a43;
    border-radius: 20px;
}

.main-container .activity-details-contianer .activity-details .activity-details-title {
	background-image: url('../images/activity-details-title.png');
	width: 195px;
	height: 46px;
	margin: 12px auto 50px auto;
}

.main-container .activity-details-contianer .activity-details ul>li {
	text-indent: 40px;
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

.main-container .activity-details-contianer .activity-details .hr {
	border-bottom: 1px dotted white;
	width:100%;
	margin: 42px 0 36px 0;
}

.main-container .activity-details-contianer .activity-details .specially-explained-text {
	width: 60%;
	height: auto;
}

.main-container .activity-details-contianer .activity-details .specially-explained .specially-explained-text div {
	margin-bottom: 20px;
	text-indent: 40px;
	font-size: 20px;
	color: white;
}

.main-container .activity-details-contianer .activity-details .specially-explained .specially-explained-text .specially-explained-text-title {
	font-size: 24px;
	color: #fec101;
}

.main-container .activity-details-contianer .activity-details .qr-code {
	width: 200px;
	float: right;
	margin-right: 54px;
}

.main-container .activity-details-contianer .activity-details .qr-code .qr-introduction {
	font-size: 16px;
	color: #fedaad;
	text-align: center;
}

.main-container .activity-details-contianer .activity-details .qr-code img {
	margin-bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-repeat: no-repeat;
    background-size: contain;
	/*background-color: #fec101;*/
}