html {
    /*font-size: 62.5%;*/
    height: 100%;
    font-family: "微软雅黑","Microsoft YaHei","Hiragino Sans GB W3",Tahoma,Arial;
    /*10 ÷ 16 × 100% = 62.5%*/
}

body {
    /*font-size: 1.4rem;*/
    /*1.4 × 10px = 14px */
    background: url('../images/background.png') #d63a3d;
    background-size: cover;
    height: 100%;
}

.logo {
	width: 14.9%;
	height: 4.9%;
	margin: 4.7% 0 0 3%;
	display: block;
}

.title {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.form {
	height: 30%;
	width: 100%;
}

.form .text-input {
	font-size: 1.2rem;
	height: 23%;
	border-radius: 50rem;
	padding-left: 1.5rem;
	border: none;
}

.form .phone {
	width: 73%;
	margin: 0 auto 2rem auto;
	display: block;
}

.form .container {
	width: 77%;
	height: 23%;
	margin: 0 auto 2rem auto;
	display: block;
}

.form .container .verification {
	height: 100%;
	width: 51.6%;
}

.form .container .get-verification-button {
	float: right;
	height: 100%;
	width: 40%;
	background-color: #efefef;
	padding-left: 0;
}

.form .submit-button {
	display: block;
	width: 77%;
	margin: 0 auto;
	background-size: cover;
}

.form .submit-button img {
	width: 100%;
}

.actiity-time {
	text-align: center;
	color: #ddceaf;
	font-size: 0.8rem;
	line-height: 5rem;
}

.footer {
	width: 100%;
	display: block;
	position: relative;
	bottom: -6rem;
}



/*result.html css*/

.result-log {
	width: 14.9%;
	height: 4.9%;
	margin-left: 3%;
	display: block;
}

.prize {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.prize-num {
	position: relative;
	bottom: 4.34rem;
	text-align: center;
	color: #ec4d35;
	font-weight: bolder;
	font-size: 20px;
}

.prize-type {
	position: relative;
	bottom: 3.93rem;
	text-align: center;
	color: #ec4d35;
	font-weight: bolder;
	font-size: 20px;
}

.prize-print {
	position: relative;
	bottom: 2.33rem;
	text-align: center;
	color: #d97c00;
	font-size: 15px;
}

.prize-print span {
	color: #ec4d35;
}

.contarct {
	position: relative;
	bottom: 1.79rem;
	font-size: 10px;
	text-align: center;
	color: white;
}

.contarct span {
	color: #f8b62b;
}

.share-and-search-buttons {
	margin: 0 auto;
	width: 80%;
}

.share-and-search-buttons img {
	width: 48%;
}