html,body {
	font-family: '微软雅黑';
	background: url('../images/background.png') no-repeat #d7000a ;
	background-size: cover;
	background-position: center top;
	padding-bottom: 100px;
}

.header,.main-container{
	margin: 0 auto;
	min-width: 1300px;
	width: 1369px;
}

.header .big-logo{

}

.header .activity-description{
	text-align: center;
	font-size: 30px;
	color: white;
	width: 940px;
	margin: 0 auto;
	line-height: 60px;
}

.header .publish-immediately-button{
	text-decoration: none;
	display: block;
	background-image: url('../images/publish-immediately.png');
	background-repeat: no-repeat;
	width: 292px;
	height: 80px;
	margin: 30px auto 0 auto;
	text-align: center;
	line-height: 80px;
	color: #c90023;
	font-size: 34px;
	font-weight: bolder;
}

.main-container .prize-contianer{
	width: 1050px;
	height: 700px;
	margin: 0 auto;
	background: url('../images/prize-contianer.png') no-repeat;
}

.main-container .prize-contianer .title{
	font-size: 32px;
	color: #fff6ae;
	font-weight: bolder;
	text-indent: 2em;
}

.main-container .prize-contianer .prize-roll{
	width: 487px;
	height: 580px;
	float: right;
	position: relative;
	top: -50px;
}

.main-container .prize-contianer .prize-info-window table{
	width: 485px;
	text-indent: 10px;
	font-size: 18px;
	margin: 35px 0 0 75px;
}

.main-container .prize-contianer .prize-info-window table tr{
	border-bottom: 1px solid #d7000a;
	height: 45px;
}

.main-container .prize-contianer .prize-info-window table tr td:nth-child(2){
	color:#e92105;
}

.main-container .prize-contianer .prize-info-window .my-prize-button{
	display: inline-block;
	width: 195px;
	height: 46px;
	background-color: #ffe000;
	border-top: 5px solid #edbb0c;
	color: #da1515;
	font-size: 21px;
	text-align: center;
	line-height: 46px;
	font-weight: bolder;
	text-decoration: none;
	margin-left: 170px;
	margin-top: 17px;
}
